<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.;Initial Catalog=PAMS;User ID=sa;Password=123sa"/>
  </connectionStrings>
  <appSettings>
    <add key="system" value="个人信息管理系统"/>
    <add key="author" value="zhuyu"/>
    <add key="version" value="v1.2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
